.bg-white
  background-color: #ffffff

.bg-pale-white
  background-color: #fcfcfc

.bg-ghost-white
  background-color: #F8F8FF

.bg-teal
  background-color: #669999

.bg-shadow
  background-color: rgba(0,0,0,0.2)

.bg-lighten
  background-color: rgba(255,255,255,0.5)

.bg-blurred-full-width
  background-size: cover
  background-position: 50% 0%
  background-repeat: no-repeat

.bg-penalty-corner
  background-image: image_url("corner.jpg")
  @extend .bg-blurred-full-width

.bg-hockey-sticks
  background-image: image_url("hockey_sticks.jpg")
  @extend .bg-blurred-full-width

.bg-goalie
  background-image: image_url("goalie.jpg")
  @extend .bg-blurred-full-width

.bg-astroturf
  background-image: image_url("grass.jpg")
  a
    color: #F8F8FF
    &:visited
      color: #F8F8FF

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .bg-astroturf
    background-size: 95px 95px
