.container-fluid.padding-0.bg-penalty-corner
  .container.color-ghost-white.margin-bottom-20
    .row.padding-vertical-20
      .padding-20
        %h2.font-44.font-bold.text-center.margin-top-20.margin-bottom-30
          Surfers Annual Tournament 2016
        %p.font-24.text-center.color-ghost-white.margin-bottom-40
          Huntington Beach Field Hockey Club of Orange County, California would like to cordially invite your club to their 11th annual Field Hockey tournament to be held on June 25th – June 26th in Orange, California.
      .col-sm-4.text-center.padding-vertical-20
        .padding-20.bg-shadow.border-radius
          %h3.font-32.margin-bottom-20 Register Today
          .glyphicon.glyphicon-list-alt.font-48
          %p.font-20.margin-top-20.margin-bottom-20
            Register your team by emailing us at #{link_to("HBSurfers@hotmail.com", "mailto:HBSurfers@hotmail.com")} or call (714) 585-2511.
      .col-sm-4.text-center.padding-vertical-20
        .padding-20.bg-shadow.border-radius
          %h3.font-32.margin-bottom-20 Mark your Calendar
          .glyphicon.glyphicon-calendar.font-48
          %p.font-20.margin-top-20.margin-bottom-20
            Surfers' 11th annual Field Hockey tournament is scheduled for June 25th and June 26th, 2016.
      .col-sm-4.text-center.padding-vertical-20
        .padding-20.bg-shadow.border-radius
          %h3.font-32.margin-bottom-20 Location of Event
          .glyphicon.glyphicon-map-marker.font-48
          %p.font-20.margin-top-20.margin-bottom-20
            #{link_to "Arena Soccer Park", "http://maps.google.com/?q=2190 N Canal St, Orange, CA 92865", :target => "_blank" } of Orange (behind Orange mall) 2190 N Canal St, Orange, CA 92865.

  .container.color-ghost-white
    .row
      #tournament_register_form.collapse.col-sm-12
        %form.form-horizontal.bg-shadow.padding-20
          .form-group
            %label.col-sm-2.control-label{:for => "teamName"} Team Name
            .col-sm-10
              %input#teamName.form-control{:type => "text"}
          .form-group
            %label.col-sm-2.control-label{:for => "division"}  Division
            .col-sm-10
              %select#division.form-control
                %option Competitive
                %option Social
          .form-group
            %label.col-sm-2.control-label{:for => "teamManagerName"} Team Manager's Name
            .col-sm-10
              %input#teamManagerName.form-control{:type => "text"}
          .form-group
            %label.col-sm-2.control-label{:for => "teamManagerAddress"} Team Manager's Address
            .col-sm-10
              %input#teamManagerAddress.form-control{:type => "text"}
          .form-group
            %label.col-sm-2.control-label{:for => "teamManagerAddress"} Team Manager's Email
            .col-sm-10
              %input#teamManagerEmail.form-control{:type => "email"}
          .form-group
            %label.col-sm-2.control-label{:for => "teamManagerAddress"} Team Manager's Phone
            .col-sm-10
              %input#teamManagerPhone.form-control{:type => "text"}
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    Remember me
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-default{:type => "submit"} Sign in

