.padding-20.bg-shadow.border-radius.text-center.margin-bottom-30
  .h3.font-32.margin-bottom-20
    .glyphicon.glyphicon-stats
    Standings

  %h4 Social Division
  %table.table.margin-top-20.table-bordered.bg-shadow
    %tr
      %th.text-center Pool
      %th.text-center Team
      %th.text-center Pld
      %th.text-center Won
      %th.text-center Lost
      %th.text-center Tied
      %th.text-center Pts
      %th.text-center GF
      %th.text-center GA
      %th.text-center GD
      %th.text-center
    %tr.bg-success.text-success
      %td.text-center.font-bold{ :rowspan => 3 } A
      %td.text-center.font-bold Sun Devils
      %td.text-center 2
      %td.text-center 1
      %td.text-center 1
      %td.text-center 0
      %td.text-center.font-bold 3
      %td.text-center 35
      %td.text-center 28
      %td.text-center 7
      %td.text-center A1
    %tr.bg-success.text-success
      %td.text-center.font-bold Oh Yeah!
      %td.text-center 2
      %td.text-center 1
      %td.text-center 1
      %td.text-center 0
      %td.text-center.font-bold 3
      %td.text-center 39
      %td.text-center 35
      %td.text-center 4
      %td.text-center A2
    %tr.bg-success.text-success
      %td.text-center.font-bold Surfers A
      %td.text-center 2
      %td.text-center 1
      %td.text-center 1
      %td.text-center 0
      %td.text-center.font-bold 3
      %td.text-center 26
      %td.text-center 37
      %td.text-center -11
      %td.text-center A3

    %tr.bg-warning.text-warning
      %td.text-center.font-bold{ :rowspan => 3 } B
      %td.text-center.font-bold Riptides
      %td.text-center 2
      %td.text-center 2
      %td.text-center 0
      %td.text-center 0
      %td.text-center.font-bold 6
      %td.text-center 43
      %td.text-center 16
      %td.text-center 27
      %td.text-center B1
    %tr.bg-warning.text-warning
      %td.text-center.font-bold Monarcas
      %td.text-center 2
      %td.text-center 1
      %td.text-center 1
      %td.text-center 0
      %td.text-center.font-bold 3
      %td.text-center 27
      %td.text-center 34
      %td.text-center -7
      %td.text-center B2
    %tr.bg-warning.text-warning
      %td.text-center.font-bold Surfers B
      %td.text-center 2
      %td.text-center 0
      %td.text-center 2
      %td.text-center 0
      %td.text-center.font-bold 0
      %td.text-center 22
      %td.text-center 42
      %td.text-center -20
      %td.text-center B3


  %h4 Competition Division
  %table.table.margin-top-20.table-bordered.bg-shadow
    %tr
      %th.text-center Team
      %th.text-center Pld
      %th.text-center Won
      %th.text-center Lost
      %th.text-center Tied
      %th.text-center Pts
      %th.text-center GF
      %th.text-center GA
      %th.text-center GD
    %tr.bg-info.text-info
      %td.text-center.font-bold LA Kings
      %td.text-center 3
      %td.text-center 3
      %td.text-center 0
      %td.text-center 0
      %td.text-center.font-bold 9
      %td.text-center 118
      %td.text-center 32
      %td.text-center 86
    %tr.bg-info.text-info
      %td.text-center.font-bold Fairfield Eagles
      %td.text-center 2
      %td.text-center 2
      %td.text-center 0
      %td.text-center 0
      %td.text-center.font-bold 6
      %td.text-center 52
      %td.text-center 25
      %td.text-center 27
    %tr.bg-info.text-info
      %td.text-center.font-bold LA Tigers
      %td.text-center 2
      %td.text-center 1
      %td.text-center 1
      %td.text-center 0
      %td.text-center.font-bold 3
      %td.text-center 64
      %td.text-center 59
      %td.text-center 5
    %tr.bg-info.text-info
      %td.text-center.font-bold Fresno Hockey Club
      %td.text-center 2
      %td.text-center 0
      %td.text-center 2
      %td.text-center 0
      %td.text-center.font-bold 0
      %td.text-center 19
      %td.text-center 76
      %td.text-center -57
    %tr.bg-info.text-info
      %td.text-center.font-bold Surfers
      %td.text-center 3
      %td.text-center 0
      %td.text-center 3
      %td.text-center 0
      %td.text-center.font-bold 0
      %td.text-center 38
      %td.text-center 99
      %td.text-center -61

  .h3.font-32.margin-bottom-20
    .glyphicon.glyphicon-time
    Schedule
  %table.table.margin-top-20.table-bordered.bg-shadow
    %tr.font-bold
      %th.text-center Saturday June 24
      %th.text-center Start time
      %th.text-center{ :colspan => 2 } Teams
      %th.text-center{ :colspan => 2 } Result
    %tr
      %td.text-center Game # 1
      %td.text-center 8:00
      %td.text-center.bg-warning.text-warning Monarcas
      %td.text-center.bg-warning.text-warning Surfers B
      %td.text-center 19
      %td.text-center 14
    %tr
      %td.text-center Game # 2
      %td.text-center 8:53
      %td.text-center.bg-success.text-success Surfers A
      %td.text-center.bg-success.text-success Oh Yeah!
      %td.text-center 19
      %td.text-center 18
    %tr
      %td.text-center Game # 3
      %td.text-center 9:46
      %td.text-center.bg-info.text-info Surfers
      %td.text-center.bg-info.text-info LA Tigers
      %td.text-center 21
      %td.text-center 43
    %tr
      %td.text-center Game # 4
      %td.text-center 10:39
      %td.text-center.bg-info.text-info LA Kings
      %td.text-center.bg-info.text-info Fresno
      %td.text-center 53
      %td.text-center 5
    %tr
      %td.text-center Game # 5
      %td.text-center 11:32
      %td.text-center.bg-warning.text-warning Monarcas
      %td.text-center.bg-warning.text-warning SD Riptides
      %td.text-center 8
      %td.text-center 20
    %tr
      %td.text-center Game # 6
      %td.text-center 12:25
      %td.text-center.bg-success.text-success Surfers A
      %td.text-center.bg-success.text-success ASU Sun Devils
      %td.text-center 7
      %td.text-center 19
    %tr
      %td.text-center Game # 7
      %td.text-center 13:18
      %td.text-center.bg-info.text-info Surfers
      %td.text-center.bg-info.text-info Fairfield Eagles
      %td.text-center 11
      %td.text-center 29
    %tr
      %td.text-center Game # 8
      %td.text-center 14:11
      %td.text-center.bg-info.text-info LA Tigers
      %td.text-center.bg-info.text-info LA Kings
      %td.text-center 21
      %td.text-center 38
    %tr
      %td.text-center Game # 9
      %td.text-center 15:04
      %td.text-center.bg-success.text-success Oh Yeah!
      %td.text-center.bg-success.text-success ASU Sun Devils
      %td.text-center 21
      %td.text-center 16
    %tr
      %td.text-center Game # 10
      %td.text-center 15:57
      %td.text-center.bg-warning.text-warning Surfers B
      %td.text-center.bg-warning.text-warning SD Riptides
      %td.text-center 8
      %td.text-center 23
    %tr
      %td.text-center Game # 11
      %td.text-center 16:50
      %td.text-center.bg-info.text-info Fresno
      %td.text-center.bg-info.text-info Fairfield Eagles
      %td.text-center 14
      %td.text-center 23
    %tr
      %td.text-center Game # 12
      %td.text-center 17:43
      %td.text-center.bg-info.text-info Surfers
      %td.text-center.bg-info.text-info LA Kings
      %td.text-center 6
      %td.text-center 27
    %tr.font-bold
      %td.text-center Sunday June 25
      %th.text-center Start time
      %th.text-center{ :colspan => 2 } Teams
      %th.text-center{ :colspan => 2 } Result
    %tr
      %td.text-center Game # 13
      %td.text-center 8:00
      %td.text-center.bg-success.text-success ASU Sun Devils
      %td.text-center.bg-warning.text-warning Monarcas
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Game # 14
      %td.text-center 8:53
      %td.text-center.bg-success.text-success Oh Yeah!
      %td.text-center.bg-warning.text-warning SD Riptides
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Game # 15
      %td.text-center 9:46
      %td.text-center.bg-info.text-info LA Tigers
      %td.text-center.bg-info.text-info Fresno
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Game # 16
      %td.text-center 10:39
      %td.text-center.bg-info.text-info LA Kings
      %td.text-center.bg-info.text-info Fairfield Eagles
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Social 5th place
      %td.text-center 11:32
      %td.text-center.bg-success.text-success Surfers A
      %td.text-center.bg-warning.text-warning Surfers B
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Game # 18
      %td.text-center 12:25
      %td.text-center.bg-info.text-info Surfers
      %td.text-center.bg-info.text-info Fresno
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Game # 19
      %td.text-center 13:18
      %td.text-center.bg-info.text-info LA Tigers
      %td.text-center.bg-info.text-info Fairfield Eagles
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Social 3rd place
      %td.text-center 14:11
      %td.text-center.bg-success.text-success
      %td.text-center.bg-warning.text-warning
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Social 1st place
      %td.text-center 15:04
      %td.text-center.bg-success.text-success
      %td.text-center.bg-warning.text-warning
      %td.text-center
      %td.text-center
    %tr
      %td.text-center Competition 1st place
      %td.text-center 15:57
      %td.text-center.bg-info.text-info
      %td.text-center.bg-info.text-info
      %td.text-center
      %td.text-center
    %tr.bg-warning.text-warning
      %td.text-center.font-bold Prize Distribution
      %td.text-center 16:50
      %td.text-center{ :colspan => 5 }

  %h4 Game time breakdown
  %table.table.margin-top-20.table-bordered.bg-shadow
    %tr
      %td.font-bold
        First game of the day
      %td
        8 AM
    %tr
      %td.font-bold
        Game - each half
      %td
        23 minutes
    %tr
      %td.font-bold
        Half/Interchange time
      %td
        3 minutes