#footer.width100p
  .footer_content.clearfix.center-aligned.full-width.padding-vertical-10
    .footer_text.pull-left
      %a.link-to-root.pull-left.margin-right-10{ :href => root_url}
        .logo
      Copyright © 2013, Huntington Beach Surfer Field Hockey Club, All rights reserved.
      Thanks to  #{link_to "Bootstrap", "http://twitter.github.io/bootstrap"} & #{link_to "Glyphicons", "http://glyphicons.com/"}

    .foot_nav.pull-right
      #{link_to "About", about_path} | #{link_to "Contacts", contact_path}
