#footer.width100p
  .footer_content.clearfix.row.padding-vertical-10.center-aligned.container
    .footer_text.text-center
      %a.link-to-root.margin-right-10{ :href => root_url}
        = image_tag("surfers_logo_original_200.png", :class => "img-circle")
      Copyright © 2013
      %span.hide-at-400
        HB Surfer Field Hockey Club.
      %span.hide-at-400.hide-at-768
        All rights reserved.
      %span.hide-at-400.hide-at-768.hide-at-992
        Thanks to  #{link_to "Bootstrap", "http://twitter.github.io/bootstrap"} & #{link_to "Glyphicons", "http://glyphicons.com/"}.
