.footer_content
  .footer_text
    = image_tag("/assets/system/logo_foot.png", :height=>"20px", :style=>"vertical-align:bottom; margin-bottom:-2px;")
    Copyright © 2010, Huntington Beach Surfer Field Hockey Club, All rights reserved.

  .foot_nav
    = link_to "About", about_path
    |
    = link_to "Contact", contact_path
