.footer_content.clearfix
  .footer_text.pull-left
    .logo.pull-left.margin-right-10
    Copyright © 2010, Huntington Beach Surfer Field Hockey Club, All rights reserved.

  .foot_nav.pull-right
    = link_to "About", about_path
    |
    = link_to "Contact", contact_path
