%nav#header
  .top-border.bg-teal
  .navbar.headnav.container.margin-bottom-0
    .navbar-header
      %button.navbar-toggle{"data-target" => "#surfersNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand.padding-bottom-0.padding-top-0
        %a#logo.pull-left{ :href => root_path }
          = image_tag("surfers_logo_original_200.png", :class => "img-circle", :width => "100px")
        #name.font-bold.pull-left
          .title.margin-bottom-5.font-28.margin-top-10.font-bold Surfers
          .subtitle.font-13 Huntington Beach Field Hockey club
    #surfersNavbar.collapse.navbar-collapse
      = render "shared/navigation"