#header.width100p
  .headnav.full-width.center-aligned.padding-vertical-10
    %a#logo{ :href => root_path }
    #name.font-700.pull-right.margin-top-15
      .title.margin-bottom-5.font-38 SURFERS
      .subtitle.font-16 Huntington Beach Field Hockey club
    .navigation