%meta{ :charset => "utf-8" }
%title= page_title
%meta{ :name => "description", :content => meta_description }
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%meta{ :name => "author", :content => "surfersfieldhockey.com" }
= favicon_link_tag