.navigation.pull-left.margin-right-20
  %ul.nav-members.unstyled.font-15.margin-top-20.panel
    = nav_link 'About us', about_path
    = nav_link 'Contacts', contact_path
    = nav_link 'History of the game', history_path