.navigation.pull-left.margin-right-20
  %ul.nav-members.unstyled.font-15.margin-top-20.panel
    %li
      %a.padding-10{ :href => play_path } Come play with us
    %li
      %a.padding-10{ :href => about_path } About us
    %li
      %a.padding-10{ :href => contact_path } Contacts