%script#picasarowstemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  .row.padding-vertical-20
    .col-sm-12.padding-20-40
      %h2.margin-top-20 #{"{{title.$t}}"}
    {{#entry}}
    .col-sm-4.padding-vertical-20
      .padding-20.border-radius.bg-shadow
        .img.max-width-100.position-relative{ :style => 'background-image:url("{{content.src}}"); background-size: cover; min-height: 250px;' }
          .bg-shadow.font-12.padding-10.position-absolute.border-box.width100p.bottom-0.left-0 #{"{{title.$t}}"}
    {{/entry}}