.well
  %h4 Final Standings
  %table.table.table-striped.margin-0.table-bordered
    %tr
      %th Position
      %th Team
    %tr
      %td 1
      %td LA Tigers
    %tr
      %td 2
      %td ASU Sun Devils
    %tr
      %td 3
      %td Y2K
    %tr
      %td 4
      %td Surfers Red
    %tr
      %td 5
      %td Surfers Blue
    %tr
      %td 6
      %td Gators Sticks and Things
    %tr
      %td 7
      %td Surfers Orange
    %tr
      %td 8
      %td Monarcas

