.well
  %h4 Points Table
  .row-fluid
    .span6
      %h5 Pool A
      %table.table.table-bordered.table-striped.margin-0
        %tr.success
          %th Team
          %th Points
        %tr
          %td ASU
          %td 9
        %tr
          %td Surfers Red
          %td 6
        %tr
          %td Sticks
          %td 3
        %tr
          %td Monarcas
          %td 0
    .span6
      %h5 Pool B
      %table.table.table-bordered.table-striped.margin-0
        %tr
          %th Team
          %th Points
        %tr
          %td LA Tiger
          %td 9
        %tr
          %td Y2K
          %td 6
        %tr
          %td Surfers Blue
          %td 3
        %tr
          %td Surfers Orange
          %td 0
