.container-fluid.padding-0.bg-hit
  .container.color-ghost-white.margin-bottom-20
    .row.padding-vertical-20
      .padding-20
        %h2.font-44.font-bold.text-center.margin-top-30.margin-bottom-30
          Surfers and #{link_to 'Monarcas', 'https://www.facebook.com/Monarcas-Field-Hockey-Club-109606002473593/'} combined 7-a-side Summer league starting on July 17th.
        %p.font-30.text-center
          %span.glyphicon.glyphicon-save
          #{link_to 'Tournament Rules', '/forms/2016_surfers_league_rules.pdf'}
    .row
      .col-sm-6.text-center
        .padding-20.bg-shadow.border-radius.margin-bottom-30
          .h3.font-32.margin-bottom-20.text-center
            July 17, 2016
          %table.table.margin-top-20.table-bordered.bg-shadow
            %tr
              %td.text-center 10:35 AM - 11:30 AM
              %td.text-center.bg-primary Blue Surfers
              %td.text-center vs
              %td.text-center.bg-pale-red Red Bulls
            %tr
              %td.text-center 11:35 AM - 12:30 PM
              %td.text-center.bg-ghost-white.color-dark-gray White Knights
              %td.text-center vs
              %td.text-center.bg-black Monarcas Black
            %tr
              %td.text-center 12:35 PM - 1:25 PM
              %td.text-center.bg-burnt-orange Orange Warriors
              %td.text-center vs
              %td.text-center.bg-pale-yellow Monarcas Yellow
      .col-sm-6.text-center
        .padding-20.bg-shadow.border-radius.margin-bottom-30
          .h3.font-32.margin-bottom-20.text-center
            July 24, 2016
          %table.table.margin-top-20.table-bordered.bg-shadow
            %tr
              %td.text-center 10:35 AM - 11:30 AM
              %td.text-center.bg-pale-red Red Bulls
              %td.text-center vs
              %td.text-center.bg-burnt-orange Orange Warriors
            %tr
              %td.text-center 11:35 AM - 12:30 PM
              %td.text-center.bg-pale-yellow Monarcas Yellow
              %td.text-center vs
              %td.text-center.bg-ghost-white.color-dark-gray White Knights
            %tr
              %td.text-center 12:35 PM - 1:25 PM
              %td.text-center.bg-black Monarcas Black
              %td.text-center vs
              %td.text-center.bg-primary Blue Surfers
    .row
      .col-sm-6.text-center
        .padding-20.bg-shadow.border-radius.margin-bottom-30
          .h3.font-32.margin-bottom-20.text-center
            July 31, 2016
          %table.table.margin-top-20.table-bordered.bg-shadow
            %tr
              %td.text-center 10:35 AM - 11:30 AM
              %td.text-center.bg-primary Blue Surfers
              %td.text-center vs
              %td.text-center.bg-burnt-orange Orange Warriors
            %tr
              %td.text-center 11:35 AM - 12:30 PM
              %td.text-center.bg-pale-yellow Monarcas Yellow
              %td.text-center vs
              %td.text-center.bg-black Monarcas Black
            %tr
              %td.text-center 12:35 PM - 1:25 PM
              %td.text-center.bg-pale-red Red Bulls
              %td.text-center vs
              %td.text-center.bg-ghost-white.color-dark-gray White Knights
      .col-sm-6.text-center
        .padding-20.bg-shadow.border-radius.margin-bottom-30
          .h3.font-32.margin-bottom-20.text-center
            August 7, 2016
          %table.table.margin-top-20.table-bordered.bg-shadow
            %tr
              %td.text-center 10:35 AM - 11:30 AM
              %td.text-center.bg-black Monarcas Black
              %td.text-center vs
              %td.text-center.bg-pale-red Red Bulls
            %tr
              %td.text-center 11:35 AM - 12:30 PM
              %td.text-center.bg-ghost-white.color-dark-gray White Knights
              %td.text-center vs
              %td.text-center.bg-burnt-orange Orange Warriors
            %tr
              %td.text-center 12:35 PM - 1:25 PM
              %td.text-center.bg-primary Blue Surfers
              %td.text-center vs
              %td.text-center.bg-pale-yellow Monarcas Yellow
    .row
      .col-sm-6.text-center
        .padding-20.bg-shadow.border-radius.margin-bottom-30
          .h3.font-32.margin-bottom-20.text-center
            August 14, 2016
          %table.table.margin-top-20.table-bordered.bg-shadow
            %tr
              %td.text-center 10:35 AM - 11:30 AM
              %td.text-center.bg-ghost-white.color-dark-gray White Knights
              %td.text-center vs
              %td.text-center.bg-primary Blue Surfers
            %tr
              %td.text-center 11:35 AM - 12:30 PM
              %td.text-center.bg-pale-yellow Monarcas Yellow
              %td.text-center vs
              %td.text-center.bg-pale-red Red Bulls
            %tr
              %td.text-center 12:35 PM - 1:25 PM
              %td.text-center.bg-burnt-orange Orange Warriors
              %td.text-center vs
              %td.text-center.bg-black Monarcas Black
      .col-sm-6.text-center
        .padding-20.bg-shadow.border-radius.margin-bottom-30
          .h3.font-32.margin-bottom-20.text-center
            August 21, 2016
          %table.table.margin-top-20.table-bordered.bg-shadow
            %tr
              %td.text-center 10:35 AM - 11:30 AM
              %td.text-center Championship 1 vs 2
            %tr
              %td.text-center 11:35 AM - 12:30 PM
              %td.text-center 3rd Place 3 vs 4
            %tr
              %td.text-center 12:35 PM - 1:25 PM
              %td.text-center 5th Place 5 vs 6