.well
  %h3 Surfers Tournament 2013 - Schedule for 07/07

  %table.table.table-striped
    %tr
      %th Time
      %th Event
    %tr
      %td 9:00
      %td ASU VS Y2K
    %tr
      %td 9:47
      %td Surfers Red VS LA Tigers
    %tr
      %td 10:34
      %td Monarcas VS Sufers Orange

    %tr
      %td 11:29
      %td Gators VS Surfers Blue
    %tr
      %td 12:24
      %td Third Place
    %tr
      %td 13:11
      %td First Place
    %tr
      %td 13:58
      %td Prize Distribution