.well
  %h4 Results for 07/07
  %table.table.table-striped.margin-0.table-bordered
    %tr
      %th Time
      %th Match
      %th Result
    %tr
      %td 9:00
      %td ASU VS Y2K
      %td 3 - 0
    %tr
      %td 9:47
      %td Surfers Red VS LA Tigers
      %td 0 - 3
    %tr
      %td 10:34
      %td Monarcas VS Sufers Orange
      %td 0 - 3
    %tr
      %td 11:29
      %td Gators VS Surfers Blue
      %td 0 - 3
    %tr
      %td 12:24
      %td Surfers Red VS Y2K
      %td 1 - 1
    %tr
      %td 13:11
      %td LA Tigers VS ASU
      %td 3 - 0