//.well
//  = render 'shared/carousel_template'

= javascript_include_tag "group_events"

.well
  .container-fluid.padding-0
    .col-xs-12.col-md-8
      %h4.margin-top-0
        Welcome to the official website of Huntington Beach Field Hockey Club, fondly known as
        %span.serif "Surfers".
      %p.font-16 We are a 501(c)(7) nonprofit organization promoting youth, adult and veterans Field Hockey in Orange County.
    .col-xs-6.col-md-4.promo.text-right
      = link_to(image_tag('static/find_on_fb.png', :alt => 'Find us on Facebook', :title =>  'Find us on Facebook', :class => "well bg-pale-white"), 'https://www.facebook.com/groups/115374325161195/')
  .well#welcomeBanner.bg-pale-white.margin-bottom-0.margin-top-15
    %a.text-center{ :href => '/annual-6-x-6-tournament-2014' }
      %h3.btn.btn-danger.padding-15.margin-top-0.font-26.width100p
        = image_tag('surfers_logo_36.png')
        10th annual 6x6 Surfers Field Hockey tournament


.well
  .container-fluid.padding-0
    .col-xs-10.col-md-7.text-center.well.bg-pale-white.margin-bottom-0
      %img{ :src => image_path('static/joanna_ferguson.jpg'), :alt => 'Joann Ferguson', :style => "width: 415px" }
      .margin-top-10.font-12
        Joann Ferguson receives the award
    .col-xs-8.col-md-5.padding-0
      .padding-left-20
        %p
          We are proud to share with you a remarkable achievement of our fellow surfer,
          %span{:style => "font-weight: bold;"}
            Joann Ferguson,
          %span>
            who recently received the Rotary Club Bravery Award for saving a life.
          %p
            The incident occurred the summer of 2013 at Joann's community pool when she noticed an adult male at the bottom of a 6ft deep pool.
            She dove in and carried him out of the pool. He was not breathing and was blue. Joann started CPR and was able to get the victim to
            breathe on his own. Paramedics and police quickly arrived and took over medical care. The victim was transported to the hospital
            where he was treated and released after 4 days.


%h3 Come play with us
.container-fluid.padding-0.margin-bottom-20
  .col-xs-6.col-md-4.padding-0
    .padding-right-20
      %h4 Arena Soccer Park of Orange (behind Orange mall)
      %h5 2190 N Canal St, Orange, Ca 92865
      %p Ph: 714-974-1993
      %p Fax: 714-974-0809

      %h4.margin-top-20 Timings
      %p Wednesdays ( 8:30 - 10 PM )
      %p Sundays ( 10:30 - 12:00 PM )

      %h4.margin-top-20 More about the arena
      %p.font-14
        The fields are located in the heart of Orange County. Small field at Canal St. is used for Wednesday practice and
        mid-sized field for Sunday practice. Plenty of parking available both in front and back of the fields
  .col-xs-12.col-md-8.padding-0.pull-right
    .panel.dark.padding-10
      .map-container.margin-bottom-10
        %iframe{:frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2190+North+Canal+Street,+Orange,+CA+92865&aq=0&oq=2190+North+Canal+Street+Orange,+CA+92865&sll=33.759491,-117.968702&sspn=0.032789,0.066047&ie=UTF8&hq=&hnear=2190+N+Canal+St,+Orange,+California+92865&t=m&ll=33.824009,-117.842188&spn=0.022817,0.039396&z=14&iwloc=near&output=embed", :width => "520"}
      %a.margin-top-10.color-white{:href => "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=2190+North+Canal+Street,+Orange,+CA+92865&aq=0&oq=2190+North+Canal+Street+Orange,+CA+92865&sll=33.759491,-117.968702&sspn=0.032789,0.066047&ie=UTF8&hq=&hnear=2190+N+Canal+St,+Orange,+California+92865&t=m&ll=33.824009,-117.842188&spn=0.022817,0.039396&z=14&iwloc=A"} View Larger Map






//%h3 Surfers Tournament 2013
//= render 'shared/points_table'
//= render 'shared/tournament_schedule'