= render 'shared/carousel_template'

.row-fluid.margin-top-20
  .span8
    %h4
      Welcome to the official website of Huntington Beach Field Hockey Club, fondly known as
      %span.serif "Surfers".
    %p.font-16 We are a 501(c)(7) nonprofit organization promoting youth, adult and veterans Field Hockey in Orange County.
  .span4.promo
    %a.badge.badge-info.font-16.padding-20.text-center
      %i.icon-fire.icon-white
      Surfers Field Hockey Annual 6X6 Tournament 2013