.span5.text-right
  .btn-group{"data-toggle" => "buttons-radio"}
    %button.btn{:type => "button", :'data-val' => "true"}
      %i.icon-thumbs-up
      Yes

    %button.btn{:type => "button", :'data-val' => "false"}
      %i.icon-thumbs-down
      No