%h3 Contacts
%h4 Eliana Rodriguez
%p.font-16 Email:- erodriguez12484@yahoo.com

%h4 Manjot Sandhu
%p.font-16 Email:- hbsurfers@hotmail.com
%p.font-16 Phone No:-714-585-2511

.margin-top-20
  = link_to(image_tag('static/find_on_fb.png', :alt => 'Find us on Facebook', :title =>  'Find us on Facebook'), 'https://www.facebook.com/groups/115374325161195/')