.container-fluid.bg-astroturf.padding-0
  .container.color-ghost-white
    .row.padding-vertical-20
      .col-sm-12.padding-vertical-20
        %h1.margin-top-0
          Contact us
        %h4 Eliana Rodriguez
        %p.font-16
          %span.glyphicon.glyphicon-envelope
          Email -  #{link_to("erodriguez12484@yahoo.com", "mailto:erodriguez12484@yahoo.com")}

        %h4.margin-top-20 Manjot Sandhu
        %p.font-16
          %span.glyphicon.glyphicon-envelope
          Email -  #{link_to("hbsurfers@hotmail.com", "mailto:hbsurfers@hotmail.com")}

        %p.font-16
          %span.glyphicon.glyphicon-earphone
          Phone - 714-585-2511

        .promo.margin-top-20
          = link_to(image_tag('static/find_us_on_fb.png', :alt => 'Find us on Facebook', :title =>  'Find us on Facebook', :class => "well bg-pale-white margin-bottom-0 find-us-on-fb"), 'https://www.facebook.com/groups/115374325161195/')

.container
  .row.padding-vertical-20
    .col-sm-6.col-md-7.padding-vertical-20
      %h2.margin-top-0 Come play with us
      .margin-top-20
        %h4.margin-top-0 Arena Soccer Park of Orange (behind Orange mall)
        %h4 2190 N Canal St, Orange, Ca 92865
        %table.table.widthAuto.table-bordered.margin-top-10
          %tr
            %td Phone
            %td 714-974-1993
          %tr
            %td Fax
            %td 714-974-0809

        %h4.margin-top-20 Timings
        %table.table.widthAuto.table-bordered
          %tr
            %td Wednesdays
            %td 8:30 - 10 PM
          %tr
            %td Sundays
            %td 10:30 - 12:00 PM

        %h4.margin-top-20 More about the arena
        %p.font-14.margin-bottom-0
          The fields are located in the heart of Orange County. Small field at Canal St. is used for Wednesday practice and
          mid-sized field for Sunday practice. Plenty of parking available both in front and back of the fields

    .col-sm-6.col-md-5.padding-vertical-20
      .panel.dark.padding-10.margin-bottom-0
        .map-container
          %iframe{:frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2190+North+Canal+Street,+Orange,+CA+92865&aq=0&oq=2190+North+Canal+Street+Orange,+CA+92865&sll=33.759491,-117.968702&sspn=0.032789,0.066047&ie=UTF8&hq=&hnear=2190+N+Canal+St,+Orange,+California+92865&t=m&ll=33.824009,-117.842188&spn=0.022817,0.039396&z=14&iwloc=near&output=embed", :width => "480"}


