.container-fluid.margin-bottom-20.padding-0
  .col-xs-8.col-md-6.padding-0
    %h3 History of Field Hockey
    %p
      The origins of field hockey have been traced to ancient Egypt and Persia and even to the Aztec Indians. Certainly, stick-and-ball games that resemble field hockey have been played by many peoples all over the world, but there's no way to draw up a family tree incorporating all, or even most, of them.
  .pull-right.well
    = image_tag('static/history.jpg')

%h3.margin-bottom-20 Field Hockey stories
.well
  = render 'shared/carousel_template'