%h3 Come play with us
.row
  .span4
    %h4 Arena Soccer Park of Orange (behind Orange mall)
    %h5 2190 N Canal St, Orange, Ca 92865
    %p Ph: 714-974-1993
    %p Fax: 714-974-0809

    %h4.margin-top-20 Timings
    %p Wednesdays ( 8:30 - 10 PM )
    %p Sundays ( 10:30 - 12:00 PM )

    %h4.margin-top-20 More about the arena
    %p.font-14
      The fields are located in the heart of Orange County. Small field at Canal St. is used for Wednesday practice and
      mid-sized field for Sunday practice. Plenty of parking available both in front and back of the fields
  .span7
    .panel.padding-10
      .map-container.margin-bottom-10
        %iframe{:frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2190+North+Canal+Street,+Orange,+CA+92865&aq=0&oq=2190+North+Canal+Street+Orange,+CA+92865&sll=33.759491,-117.968702&sspn=0.032789,0.066047&ie=UTF8&hq=&hnear=2190+N+Canal+St,+Orange,+California+92865&t=m&ll=33.824009,-117.842188&spn=0.022817,0.039396&z=14&iwloc=near&output=embed", :width => "520"}
      %a.margin-top-10{:href => "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=2190+North+Canal+Street,+Orange,+CA+92865&aq=0&oq=2190+North+Canal+Street+Orange,+CA+92865&sll=33.759491,-117.968702&sspn=0.032789,0.066047&ie=UTF8&hq=&hnear=2190+N+Canal+St,+Orange,+California+92865&t=m&ll=33.824009,-117.842188&spn=0.022817,0.039396&z=14&iwloc=A"} View Larger Map

