.span9.text-right.btn-group{"data-toggle" => "buttons-radio"}
  %button.btn{:type => "button", :'data-val' => 1} 1
  %button.btn{:type => "button", :'data-val' => 2} 2
  %button.btn{:type => "button", :'data-val' => 3} 3
  %button.btn{:type => "button", :'data-val' => 4} 4
  %button.btn{:type => "button", :'data-val' => 5} 5
  %button.btn{:type => "button", :'data-val' => 6} 6
  %button.btn{:type => "button", :'data-val' => 7} 7
  %button.btn{:type => "button", :'data-val' => 8} 8
  %button.btn{:type => "button", :'data-val' => 9} 9
  %button.btn{:type => "button", :'data-val' => 10} 10