/*
 * Application Wide styles:
*/

@import "shared/fonts";
@import "shared/colors_and_backgrounds";
@import "shared/spacing";

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  @extend .bg-pale-white;
}

#container {
  min-height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;

  #content {
    padding-bottom: 55px;   /* height of the footer */
    padding-top: 110px;
    //@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.05));
    //@extend .bg-white;
    .navigation {
      width: 200px;
      padding-top: 100px;
      ul.nav-members {
        overflow: hidden;
        li {
          border-bottom: 1px solid #e5e5e5;
          a {
            display: block;
            color: #434343;
            text-decoration: none;
            padding: 10px;
            &:visited {
              color: #434343;
              text-decoration: none;
            }
            &:hover {
              color: #434343;
              background-color: #fafafa;
              text-decoration: none;
            }
          }
          &.active {
            a, a:hover, a:active {
              background-color: #dff0d8;
            }
          }
        }
      }
    }
    .yielded-content {
      width: 860px;
      &.panel {
        @include border-radius(0px);
        @include border-bottom-radius(4px)
      }
    }
  }

  #header {
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    @include gradient-vertical(#fafafa, #f1f1f1);
    .headnav {
      height: 110px;
      font-weight: bold;
      text-decoration: none;
      text-align: left;
      a {
        color: #fcfcfc;
        text-decoration: none;
        &:visited {
          color: #fcfcfc;
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
      }

      #logo {
        position: absolute;
        background-color: #ffffff;
        @include border-radius(50%);
        img {
          height: 200px;
          width: 200px;
          @include box-shadow(0px 0px 25px 15px #fff);
          @include box-sizing(border-box);
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
      #name {
        text-align: right;
        .title {
          line-height: 100%;
          text-shadow: 0px 1px 0px #fcfcfc;
          filter: dropshadow(color=#fcfcfc,offX=0,offY=1);
        }
      }
    }
  }

  #footer {
    background: #f5f5f5;
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: #434343;

    a {
      color: #434343;
      text-decoration: none;
      &:visited {
        color: #434343;
        text-decoration: none;
      }
      &:hover {
        color: #434343;
        text-decoration: underline;
      }
    }

    .footer_content {
      line-height: 36px;
      height: 55px;
      a.link-to-root {
        overflow: hidden;
        @include border-radius(4px);
        @include box-shadow(inset 0 0 4px 0 rgba(0, 0, 0, 0.05));

        .logo {
          width: 36px;
          height: 36px;
          background-repeat: no-repeat;
          background-image: image_url('surfers_logo_36.png');
          @include border-radius(50%);
        }
      }
    }
  }
}

.panel {
  background-color: white;
  @include box-sizing(border-box);
  @include border-radius(4px);
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
  &.dark {
    background-color: #2f2f2f;
    color: #ffffff;
  }
}

.header {
  background-color: #eee;
  border: 1px solid #ddd;
  @include border-top-radius(4px);
}


.carousel {
  background-color: #2f2f2f;
  .carousel-inner {
    .photo {
      img {
        width: auto;
        height: 450px;
      }
    }
  }
}

.modal-body {
  max-height: 600px;
}