/*
 * Application Wide styles:
*/

html {
  overflow-y: scroll;
  background: #fcfcfc;
  margin: 0px;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

body {
  background: #fcfcfc;
  margin: 0px;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#container {
  min-height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;

  #content {
    padding: 0px;
    padding-bottom: 45px;
  /* total Height of the footer including padding */
    padding-top: 45px;
    width: 1080px;
    margin: 0 auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    background: #fefefe;
  }

  .head {
    background: -webkit-gradient(linear, left bottom, left top, from(#2f2f2f), to(#434343));
    background: -moz-linear-gradient(center bottom, #2f2f2f 0%, #434343 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#434343, endColorstr=#2f2f2f);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='#2f2f2f')";
    padding: 5px 0px 5px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    margin: 0px 0px 3px 0px;
    width: 100%;
    position: fixed;
    z-index: 2;
    border-top: 2px groove #6a6a6a;
    border-left: 2px groove #6a6a6a;
    border-bottom: 2px ridge #2f2f2f;
    border-right: 2px ridge #2f2f2f;
    -moz-border-right-colors: #000 #2f2f2f;
    -moz-border-left-colors: #000 #6a6a6a;
    -moz-border-top-colors: #000 #6a6a6a;
    -moz-border-bottom-colors: #000 #2f2f2f;

    .headnav {
      width: 1080px;
      margin: 0 auto;
      font-size: 24px;
      height: 31px;
      font-weight: bold;
      color: #fcfcfc;
      text-decoration: none;
      text-align: left;
      a {
        color: #fcfcfc;
        text-decoration: none;
        &:visited {
          color: #fcfcfc;
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
      }

      .logo {
        float: left;
        background-image: url("/assets/system/logo.png");
        background-repeat: no-repeat;
        background-size: 177px 35px;
        height: 35px;
        width: 180px;
        background-position: left;
      }

      .navigation {
        float: right;
        font-size: 12px;
        margin-top: 3px;
        margin-right: 5px;
        a {
          float: right;
          padding: 5px 10px;
          background: #434343;
          border-top: 2px groove #6a6a6a;
          border-left: 2px groove #6a6a6a;
          border-bottom: 2px ridge #2f2f2f;
          border-right: 2px ridge #2f2f2f;
          -moz-border-right-colors: #000 #2f2f2f;
          -moz-border-left-colors: #000 #6a6a6a;
          -moz-border-top-colors: #000 #6a6a6a;
          -moz-border-bottom-colors: #000 #2f2f2f;
          margin-right: -1px;
          &:hover {
            background: #2c2c2c;
          }
          &:active {
            background: #434343;
          }
        }
      }

    }



  }

  .footer_nav a {
    margin: 0px 5px;
  }



  #footer {
    background: #f5f5f5;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    height: 25px;
  /* Height of the footer */
    width: 100%;
  /* reduced width by 20px to compensate padding */
    padding: 15px 0px 5px 0px;
    font: normal 12px "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #434343;
    a {
      color: #434343;
      text-decoration: none;
      &:visited {
        color: #434343;
        text-decoration: none;
      }
      &:hover {
        color: #434343;
        text-decoration: underline;
      }
    }
  }

  .footer_content {
    width: 1080px;
    margin: 0 auto;
  }

  .footer_text {
    float: left;
    text-align: left;
  }

  .foot_nav {
    float: right;
  }

}